# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/mcw-app/dist
/mcw-app/tmp
/mcw-app/out-tsc

# dependencies
/mcw-app/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/mcw-app/.sass-cache
/mcw-app/connect.lock
/mcw-app/coverage
/mcw-app/libpeerconnection.log
npm-debug.log
testem.log
/mcw-app/typings

# e2e
/mcw-app/e2e/*.js
/mcw-app/e2e/*.map

# System Files
.DS_Store
Thumbs.db
